body{
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    font: normal 14px Ubuntu, sans-serif;
}

#template {
    display: none;
}

td span {
    font-size: 75%;
}

.glyphicon-chevron-up {
    color: #60ff76;
}

.glyphicon-chevron-down {
    color: #ff3a3a;
}




/*loader*/
#loader {
    position: absolute;
    top: 40%;
    width: 100%;
}
.cssload-container {
    width: 100%;
    height: 138px;
    text-align: center;
}

.cssload-speeding-wheel {
    width: 138px;
    height: 138px;
    margin: 0 auto;
    border: 8px solid rgb(255,255,255);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 1400ms infinite linear;
    -o-animation: cssload-spin 1400ms infinite linear;
    -ms-animation: cssload-spin 1400ms infinite linear;
    -webkit-animation: cssload-spin 1400ms infinite linear;
    -moz-animation: cssload-spin 1400ms infinite linear;
}



@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}